<div *ng-if="authentication.isConnected()">
    <nav class="navbar navbar-inverse">
        <div class="container-fluid" >
            <div class="navbar-header">
                <ul class="nav navbar-nav">
                        <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" role= "button" aria-haspopup="true" aria-expanded="false">Branches <span class="caret" > </span></a>
                        <ul class="dropdown-menu">
                            <li *ng-for="#branch of branches">
                                <div class="row">
                                    <div class="col-md-6">{{branch.name}}</div>
                                    <div class="col-md-6"> 
                                        <span class="glyphicon glyphicon-eye-open" aria-hidden="true" (click)="show_branch(branch)"></span>
                                        <span class="glyphicon glyphicon-pencil" aria-hidden="true" (click)="show_update_branch(branch)"></span>
                                        <span class="glyphicon glyphicon-trash" aria-hidden="true" (click)="delete_branch(branch)"></span>
                                    </div>     
                                </div>
                            </li>
                        </ul>
                    </li>
                    <ul class="nav navbar-nav">
                        <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" role= "button" aria-haspopup="true" aria-expanded="false">
                            <span class="badge" *ng-if="notifications.length>0">{{notifications.length}}</span> Notifications<span class="caret" > </span></a>
                        <ul class="dropdown-menu">
                            <li *ng-for="#notif of notifications">
                                <div class="row">
                                    <div class="col-md-9">{{notif.notif()}}</div>
                                    <div class="col-md-3">
                                        <div class="row">
                                            <span class="glyphicon glyphicon-ok" style="color:green" (click)="notif_accept()" aria-hidden="true"></span>
                                            <span class="glyphicon glyphicon-remove" style="color:#ff1a1a" (click)="notif_decline()" aria-hidden="true"></span>
                                        </div>
                                    </div>     
                                </div>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
            <ul class="nav navbar-nav navbar-right">   
                <li><a (click)="authentication.logout()">Log Out</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <img title="{{authentication.getMail()}}" src="{{authentication.getPicture()}}" width="45" height="45" class="img-circle">
            </ul>
        </div>
    </nav> 
    <div class="modal fade in" *ng-if="nodemodalstate" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" id="{{nodemodal}}" style="display:block; padding-left:15px;" >
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <div class="row">
                        <div class="col-md-6">
                            <h3 *ng-if="!title_state" (dblclick)="title_state=true;">{{node.name}}</h3>
                            <input #node_name *ng-if="title_state" class="form-control" value="{{node.name}}" placeholder="Node Name"                                       
                                (keyup.enter)="update_node(node_name.value);" 
                                (blur)="update_node(node_name.value);"
                                >
                        </div>
                        <div class="col-md-6">
                            <div class="btn-group pull-right" role= "group">
                                <button class="btn btn-info btn-lg" type= "button" (click)="add_attribute()"> 
                                    <img src="lib/img/add_attribute.png" > 
                                </button>
                                <button class="btn btn-success btn-lg" type="button" (click)="add_node()"> 
                                    <img src="lib/img/add_child.png" >
                                </button>
                                <button class="btn btn-danger btn-lg" type="button" (click)="delete_node_and_sons()"> 
                                    <img src="lib/img/delete_node_and_son.png"> 
                                </button>
                                <button class="btn btn-danger btn-lg" type="button" (click)="delete_node()"> 
                                    <img src="lib/img/delete_node.png">
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <label class="col-md-3"> name </label>
                        <label class="col-md-3"> value </label>
                    </div>
                    <div class="form-group row" *ng-for="#attribute of node.attributes">
                        <div class="col-md-3"><input #attribute_name class="form-control" value="{{attribute.name}}" typename="text" (blur) = "update_attribute(attribute,attribute_name.value, attribute_value.value)"></div>
                        <div class="col-md-3"><input #attribute_value class="form-control" value="{{attribute.value}}" typename="text" (blur) = "update_attribute(attribute, attribute_name.value, attribute_value.value)"></div> 
                        <div class="col-md-6">
                            <span class="glyphicon glyphicon-trash" aria-hidden="true" (click)="delete_attribute(attribute)" ></span>
                        </div> 
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-default" (click)="nodemodalstate=false;">Close</button>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade in" *ng-if="branchmodalstate" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" id="{{branchmodal}}" style="display: block;">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h3>{{branch._name}}</h3>
                </div><div class="modal-body">
                <form class="form-horizontal">
                    <div class="form-group">
                        <label class="col-sm-3 control-label">Branch Type :</label>
                        <div class="col-sm-3">
                            <div class="dropdown">
                            <button #type value="{{branch.type}}" class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown" >
                                {{branch.type}}
                                <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu" >
                                <li *ng-for="#type of branch.types" (click)="branch.type = type;"><a>{{type}}</a></li>
                            </ul>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label">Branch name :</label>
                        <div class="col-sm-3">
                            <input #name class="form-control" type="text" placeholder="branch name" value="{{branch.name}}" (blur)="branch.name = name.value">
                            <div *ng-if="branchnamecondition" style="display: block;">Nom requis</div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label">Color :</label>
                        <div class="col-sm-3">
                            <input #color class="form-control" type="text" id="color" placeholder="color"  value="{{branch.color}}" (blur)="branch.color = color.value"></input>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button class="btn btn-success btn-lg" *ng-if="branches.indexOf(branch) == -1" (click)="add_branch(name.value, color.value,type.value)" type="button">Create</button>
                <button class="btn btn-success btn-lg" *ng-if="branches.indexOf(branch) != -1" (click)="update_branch()" type="button">Save</button>
                <button class="btn btn-default btn-lg" type="button" (click)="branchmodalstate=false;branchnamecondition=false;">Close</button>
            </div>
        </div>
    </div>
</div>
 <div class="modal fade in" *ng-if="edgemodalstate" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" id="{{edgemodal}}" style="display:block; padding-left:15px;" >
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <div class="row">
                    <div class="col-md-6">
                        <h3 *ng-if="!title_state" (dblclick)="title_state=true;">{{edge.name}}</h3>
                        <input #edge_name *ng-if="title_state" class="form-control" value="{{edge.name}}" placeholder="Edge Name"                                       
                            (keyup.enter)="update_edge(edge_name.value);" 
                            (blur)="update_edge(edge_name.value);"
                            >
                    </div>
                    <div class="col-md-6">
                        <h3 class='pull-right'>{{"["+ edge.type +"]"}}</h3>
                    </div>  
                </div>
            </div>
            <div class="modal-body">
                <button class="btn btn-danger btn-lg" type= "button" (click)="delete_edge()">Delete edge</button>
            </div>
            <div class="modal-footer">
                <button type="submit" class="btn btn-default" (click)="edgemodalstate=false;">Close</button>
            </div>
        </div>
    </div>
</div>

