<!-- NAVBAR -->
<div *ng-if="authentication.isConnected()">
  <nav class="navbar navbar-inverse">
    <div class="container-fluid">
      <div class="navbar-header">
        <ul class="nav navbar-nav">
          <li class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Branches <span class="caret" > </span></a>
            <ul class="dropdown-menu">
              <li *ng-for="#branch of branches">
                  <div class="col-md-5">{{branch.name}}</div>
                  <div class="col-md-7 pull-right">
                    <span class="glyphicon glyphicon-trash pull-right" aria-hidden="true" (click)="delete_branch(branch)"></span>
                    <span class="glyphicon glyphicon-pencil pull-right" aria-hidden="true" (click)="show_update_branch(branch)"></span>
                    <span class="glyphicon glyphicon-eye-open pull-right" aria-hidden="true" (click)="show_branch(branch)"></span>
                  </div>
              </li>
            </ul>
          </li>
       </ul>

        <ul class="nav navbar-nav">
          <li data-toggle="modal" data-target="#notifmodal"><a><span class="badge" *ng-if="notifications.length>0">{{notifications.length}}</span> Notifications</a></li>
        </ul>
      </div>
      <ul class="nav navbar-nav navbar-right">
        <li><a (click)="authentication.logout()">Log Out</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right" *ng-for="#user of users_authentified">
        <img title="{{user.mail}}" src="{{user.node.image_path}}" width="45" height="45" class="img-circle" (click)="show_profile();">
      </ul>
    </div>
  </nav>

 <div class="modal fade in" *ng-if="usermodalstate" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" id="{{usermodal}}" style="display: block;">
         <div class="modal-dialog" role="document">
             <div class="modal-content">
                <div class="modal-header">
                     <h3>Profil</h3>
                 </div><div class="modal-body">
                 <form class="form-horizontal">
                     <div class="form-group">
                         <label class="col-md-3 control-label">Change view to :</label>
                         <div *ng-if="preferedView1" class="row">
                             <div class="col-md-8">
                                 <input class="btn btn-default btn-lg" type="button" id="view0" value="Attributes in modal form" (click)="user.preferedView = 0; show_profile();"/>
                             </div>
                         </div>
                        <div *ng-if="preferedView0" class="row">
                            <div class="col-md-8">
                                <input class="btn btn-default btn-lg" type="button" id="view1" value="Attributes as leaf" (click)="user.preferedView = 1;show_profile();">
                            </div>
                        </div>
                    </div>
                </form>
            </div>
           <div class="modal-footer">
                 <button class="btn btn-success btn-lg" (click)="update_user(user)" type="button">Save</button>
                 <button class="btn btn-default btn-lg" type="button" (click)="usermodalstate=false;">Close</button>
             </div>
         </div>
     </div>
 </div>
  <!-- MODAL NODE -->
  <div class="modal fade in" *ng-if="nodemodalstate" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" id="{{nodemodal}}" style="display:block; padding-left:15px;">
    <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <div class="row">
            <div class="col-md-5">
                <div class="col-md-4 imgWrap">
                <img title="{{node.name}}" src="{{node.image_path}}" width="75" height="75"  alt="lol" class="img-circle">
                <p class="imgModifier" data-toggle="modal" data-target="#imagemodal">Modifier</p>
                </div>
                <div class="col-md-8">
              <h3 *ng-if="!title_state" (dblclick)="title_state=true;">{{node.name}}</h3>
              <input #node_name *ng-if="title_state" class="form-control" value="{{node.name}}" placeholder="Node Name" (keyup.enter)="update_node(node_name.value);" (blur)="update_node(node_name.value);">
                </div>
            </div>
            <div class="col-md-7">
              <div class="btn-group pull-right" role="group">
                <button class="btn btn-info btn-lg" type="button" (click)="add_attribute()">
                  <img src="src/lib/img/add_attribute.png">
                </button>
                <button class="btn btn-success btn-lg" type="button" (click)="add_node()">
                  <img src="src/lib/img/add_child.png">
                </button>
                <button class="btn btn-danger btn-lg" type="button" (click)="delete_node_and_sons()">
                  <img src="src/lib/img/delete_node_and_son.png">
                </button>
                <button class="btn btn-danger btn-lg" type="button" (click)="delete_node()">
                  <img src="src/lib/img/delete_node.png">
                </button>
                <button class="btn btn-warning btn-lg" type="button" data-toggle="modal" data-target="#sharemodal" (click)="nodemodalstate=false;">
                 <img src="src/lib/img/share_node.png">
                </button>
              </div>
            </div>
          </div>
        </div>
        <div class="modal-body">
          <div class="row">
            <label class="col-md-5"> name </label>
            <label class="col-md-5"> value </label>
          </div>
          <div class="form-group row" *ng-for="#attribute of node.attributes">
            <div class="col-md-5">
              <input #attribute_name class="form-control" value="{{attribute.name}}" typename="text" (blur)="update_attribute(attribute,attribute_name.value, attribute_value.value)">
            </div>
            <div class="col-md-5">
              <input #attribute_value class="form-control" value="{{attribute.value}}" typename="text" (blur)="update_attribute(attribute, attribute_name.value, attribute_value.value)">
            </div>
            <div class="col-md-2">
              <span class="glyphicon glyphicon-trash" aria-hidden="true" (click)="delete_attribute(attribute)"></span>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="submit" class="btn btn-default" (click)="nodemodalstate=false;">Close</button>
        </div>
      </div>
    </div>
  </div>
  <!-- MODAL BRANCH -->
  <div class="modal fade in" *ng-if="branchmodalstate" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" id="{{branchmodal}}" style="display: block;">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h3>{{branch._name}}</h3>
        </div>
        <div class="modal-body">
          <form class="form-horizontal">
            <div class="form-group">
              <label class="col-sm-3 control-label">Branch name :</label>
              <div class="col-sm-3">
                <input #name class="form-control" type="text" placeholder="branch name" value="{{branch.name}}" (blur)="branch.name = name.value">
                <div *ng-if="branchnamecondition" style="display: block;">Nom requis</div>
              </div>
            </div>
            <div class="form-group">
              <label class="col-sm-3 control-label">Color :</label>
              <div class="col-sm-3">
                <input #color class="form-control" type="text" id="color" placeholder="color" value="{{branch.color}}" (blur)="branch.color = color.value"></input>
              </div>
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button class="btn btn-success btn-lg" *ng-if="branches.indexOf(branch) == -1" (click)="add_branch(name.value, color.value)" type="button">Create</button>
          <button class="btn btn-success btn-lg" *ng-if="branches.indexOf(branch) != -1" (click)="update_branch()" type="button">Save</button>
          <button class="btn btn-default btn-lg" type="button" (click)="branchmodalstate=false;branchnamecondition=false;">Close</button>
        </div>
      </div>
    </div>
  </div>
  <!-- MODAL EDGE -->
  <div class="modal fade in" *ng-if="edgemodalstate" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" id="{{edgemodal}}" style="display:block; padding-left:15px;">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <div class="row">
            <div class="col-md-6">
              <h3 *ng-if="!title_state" (dblclick)="title_state=true;">{{edge.name}}</h3>
              <input #edge_name *ng-if="title_state" class="form-control" value="{{edge.name}}" placeholder="Edge Name" (keyup.enter)="update_edge(edge_name.value);" (blur)="update_edge(edge_name.value);">
            </div>
            <div class="col-md-6">
              <h3 class='pull-right'>{{"["+ edge.type +"]"}}</h3>
            </div>
          </div>
        </div>
        <div class="modal-body">
          <button class="btn btn-danger btn-lg" type="button" (click)="delete_edge()">Delete edge</button>
        </div>
        <div class="modal-footer">
          <button type="submit" class="btn btn-default" (click)="edgemodalstate=false;">Close</button>
        </div>
      </div>
    </div>
  </div>
  <!-- MODAL NOTIFICATION -->
  <div class="modal fade " id="notifmodal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title" id="myModalLabel">Notifications</h4>
        </div>
        <div class="modal-body">
          <div *ng-for="#notif of notifications">
            <div class="row">
              <div class="col-md-1">
                <img src="{{notif.from.node.image_path}}" width="30" height="30" class="img-circle">
              </div>
              <div class="col-md-10">{{notif.note}}</div>
              <div class="col-md-1">
                <div class="row">
                  <span class="glyphicon glyphicon-ok" style="color:green" (click)="notif_accept()" aria-hidden="true"></span>
                  <span class="glyphicon glyphicon-remove" style="color:#ff1a1a" (click)="notif_decline()" aria-hidden="true"></span>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
  <!--MODAL IMAGE NODE-->
<div class="modal fade " id="imagemodal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
<!--
                <div class="row">
                    <div class="col-md-6">
                        <h3 *ng-if="!title_state" (dblclick)="title_state=true;">{{edge.name}}</h3>
                        <input #edge_name *ng-if="title_state" class="form-control" value="{{edge.name}}" placeholder="Edge Name"                                       
                            (keyup.enter)="update_edge(edge_name.value);" 
                            (blur)="update_edge(edge_name.value);"
                            >
                    </div>
                    <div class="col-md-6">
                        <h3 class='pull-right'>{{"["+ edge.type +"]"}}</h3>
                        <button class="btn btn-success btn-lg pull-right" type= "button">Add Weight</button>
                    </div>  
                </div>
            </div>
            <div class="modal-body">
                <div class="form-group row" *ng-for="#w of edge.weights">
                    <div class="col-md-5"><input #attribute_name class="form-control" value="{{attribute.name}}" typename="text" (blur) = "update_attribute(attribute,attribute_name.value, attribute_value.value)"></div>
                    <div class="col-md-5"><input #attribute_value class="form-control" value="{{attribute.value}}" typename="text" (blur) = "update_attribute(attribute, attribute_name.value, attribute_value.value)"></div> 
                    <div class="col-md-2">
                        <span class="glyphicon glyphicon-trash" aria-hidden="true" (click)="delete_weight(w)" ></span>
                    </div> 
                </div>
            </div>
            <div class="modal-footer">
                <button class="btn btn-danger" type= "button" (click)="delete_edge()">Delete edge</button>
                <button class="btn btn-default" type= "button" (click)="edgemodalstate=false;">Close</button>
-->
                <h4 class="modal-title" id="myModalLabel">Image du noeud</h4>
            </div>
            <div class="modal-body">
                <div class="form-group row">
                    <div class="col-sm-2">
                        <label class="col-sm-12 control-label">url :</label>
                    </div>
                    <div *ng-if="node != null" class="col-sm-10">
                        <input #url class="form-control" value="{{node.image_path}}" typename="text" (blur)="update_node_image(url.value);">
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
  <!-- MODAL SHARE NODE -->
  <div class="modal fade " id="sharemodal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title" id="myModalLabel">Share a node</h4>
        </div>
        <div class="modal-body">
          <div class="row">
            <div class="col-md-8">
              <div class="dropdown">
                <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">USER SELECTED
                  <span class="caret"></span></button>
                <ul class="dropdown-menu">
                  <li *ng-for="#user of users"><a href="#">{{user.mail}}</a></li>
                </ul>
              </div>
            </div>
            <div class="col-md-2">
              <button class="btn btn-success btn-default" type="button">Save</button>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="modal fade " id="detaillogmodal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="myModalLabel">Détail de log</h4>
            </div>
            <div class="modal-body">
                <div class="form-group row">
                    <div class="col-sm-2">
                        <h2 class="col-sm-12 control-label">Titre</h2>
                    </div>
                    <div class="col-sm-10">
                        <label class="form-control" value="MATCH (s:Node),(t:Node) WHERE s.name='n1' AND t.name='n2' CREATE (s)-[r:HIERARCHICAL]->(t);" typename="text">
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
<div id = "r">    
<div *ng-for="#notif of notifs" class="alert alert-warning alert-dismissible" role="alert">
  <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
  {{notif}} <a data-toggle="modal" data-target="#detaillogmodal">Détails</a>
</div>
</div>